@use "@/presentation/scss/main";

.survey_list__content {
  display: flex;
  flex-direction: main.$flex-col;
  align-self: center;
  max-width: 800px;
  width: 100%;
  flex-grow: 1;
  padding: main.spacing(20px);

  h2 {
    color: main.$primary;
    font-size: main.$font-3xl;
    font-weight: main.$font-bold;
    font-family: main.$font-luckiest;
    text-transform: uppercase;
    margin-bottom: main.spacing(24px);
  }

  ul {
    display: flex;
    flex-direction: main.$flex-row;
    flex-wrap: main.$flex-wrap;
    justify-content: space-between;
  }

  @media only screen and (max-width: 600px) {
    ul {
      flex-direction: main.$flex-col;

      li {
        flex-basis: 100%;
      }
    }
  }
}
