$white: #fff;
$black: #000;
$disabled: rgb(131, 131, 131, 0.5);
$red-600: #dc2626;
$red-800: #991b1b;

/* SCSS HEX */
$black-olive: #423e3bff;
$scarlet: #ff2e00ff;
$orange-web: #fea82fff;
$cream: #fffecbff;
$iris: #5448c8ff;

/* SCSS HSL */
$dark: hsla(26, 6%, 25%, 1);
$danger: hsla(11, 100%, 50%, 1);
$warning: hsla(35, 99%, 59%, 1);
$secondary: hsla(59, 100%, 90%, 1);
$primary: hsla(246, 54%, 53%, 1);

/* SCSS RGB */
$black-olive: rgba(66, 62, 59, 1);
$scarlet: rgba(255, 46, 0, 1);
$orange-web: rgba(254, 168, 47, 1);
$cream: rgba(255, 254, 203, 1);
$iris: rgba(84, 72, 200, 1);