$yellow-orange-50: #fff8eb;
$yellow-orange-100: #ffebc6;
$yellow-orange-200: #ffd788;
$yellow-orange-300: #febc4b;
$yellow-orange-400: #fea82f;
$yellow-orange-500: #f87e08;
$yellow-orange-600: #dc5903;
$yellow-orange-700: #b63b07;
$yellow-orange-800: #942d0c;
$yellow-orange-900: #79260e;
$yellow-orange-950: #461102;

$cream-50: #fefde8;
$cream-100: #fffecb;
$cream-200: #fff988;
$cream-300: #ffee44;
$cream-400: #fede11;
$cream-500: #eec404;
$cream-600: #cd9801;
$cream-700: #a46c04;
$cream-800: #87550c;
$cream-900: #734510;
$cream-950: #432405;

$scarlet-50: #fff4ec;
$scarlet-100: #ffe6d3;
$scarlet-200: #ffc8a5;
$scarlet-300: #ffa26d;
$scarlet-400: #ff7032;
$scarlet-500: #ff490a;
$scarlet-600: #ff2e00;
$scarlet-700: #cc1c02;
$scarlet-800: #a1180b;
$scarlet-900: #82170c;
$scarlet-950: #460704;

$blue-violet-50: #eff2fe;
$blue-violet-100: #e1e7fe;
$blue-violet-200: #c9d2fc;
$blue-violet-300: #a8b5f9;
$blue-violet-400: #858df4;
$blue-violet-500: #6869ec;
$blue-violet-600: #574cdf;
$blue-violet-700: #5448c8;
$blue-violet-800: #3d349f;
$blue-violet-900: #35317e;
$blue-violet-950: #211d49;

$masala-50: #f6f5f5;
$masala-100: #e9e6e4;
$masala-200: #d4cecd;
$masala-300: #b6adaa;
$masala-400: #91847f;
$masala-500: #766a64;
$masala-600: #645a56;
$masala-700: #554e49;
$masala-800: #494441;
$masala-900: #423e3b;
$masala-950: #292623;