@use '@/presentation/scss/main';

.Button {
  font-weight: main.$font-semibold;
  font-size: main.$font-md;
  background-color: main.$primary;
  color: main.$secondary;
  border-radius: main.$rounded-md;
  padding: 10px 16px;
  width: 100%;
  transition: all 150ms ease;
  cursor: pointer;
  border: 1px solid main.$black-olive;
  box-shadow: main.$shadow-md;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: main.$spacing-2_5;

  &:hover {
    background-color: main.$orange-web;
    border-color: main.$black-olive;
    color: main.$black-olive;
  }

  &:active {
    background-color: main.$scarlet;
    box-shadow: none;
    transform: scale(0.99);
  }

  &:focus-visible {
    box-shadow: 0 0 0 4px main.$orange-web;
    outline: none;
  }

  &:disabled {
    background-color: main.$disabled;
    color: main.$black-olive;
    border: none;
    cursor: default;
    box-shadow: none;
    transform: scale(1);
  }

  .loading {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: main.$spacing-2;
  }

  &-small {
    padding: 8px 16px;
  }

  &-medium {
    padding: 12px 18px;
  }

  &-large {
    padding: 16px 21px;
  }
}