@use '@/presentation/scss/main';

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: main.$flex-col;

  background: main.$black-olive;
  border-top: main.$spacing-10 solid main.$primary;

  img {
    @include main.size(6rem);
    margin-top: main.$spacing-10;
  }

  h1 {
    @include main.h1;
    letter-spacing: main.$letter-space-wider;
    color: main.$white;

    margin: main.$spacing-4 0 main.$spacing-10;
  }
}