@use './main';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;

  ::-webkit-scrollbar {
    width: 0.65rem;
  }

  ::-webkit-scrollbar-track {
    background: main.$secondary;
  }

  ::-webkit-scrollbar-thumb {
    background: main.$blue-violet-500;
    border-radius: 1rem;
  }
}

html, body, #root {
  height: 100%;
}

body {
  font-family: main.$font-poppins;
  background: main.$cream;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

button {
  cursor: pointer;
}
