@use '@/presentation/scss/main';

.input_field {
  display: flex;
  flex-direction: main.$flex-col;

  &__helper_text {
    font-size: main.$font-md;
    font-weight: main.$font-semibold;
    color: main.$red-600;
  }

  .input {
    border: 2px solid main.$black-olive;
    border-radius: main.$rounded-md;
    color: main.$black-olive;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 main.$spacing-2_5;

    height: main.$spacing-10;
    width: main.$sizes-xs;

    font-size: main.$font-md;
    font-weight: main.$font-semibold;
    line-height: main.$leading-9;

    box-shadow: main.$shadow-md;
    transition: all .2s ease-in-out;

    &:focus {
      box-shadow: main.$shadow-inner;
    }

    &:focus-visible {
      box-shadow: 0 0 0 1px main.$orange-web;
      border-color: main.$primary;
      border-radius: main.$rounded-xl;
      outline: none;
      width: main.$sizes-sm;
    }

    &::selection {
      background-color: main.$primary;
      color: main.$secondary;
    }

    &::placeholder {
      font-size: main.$font-lg;
      font-weight: main.$font-medium;
      color: main.$black-olive;
    }
  }

  .input__invalid {
    box-shadow: 0 0 0 1px main.$red-800;
    border-color: main.$red-600;
    color: main.$red-600;

    &::placeholder {
      font-size: main.$font-lg;
      font-weight: main.$font-medium;
      color: main.$red-600;
    }

    &:focus-visible {
      box-shadow: 0 0 0 1px main.$red-600;
      border-color: main.$red-800;
      border-radius: main.$rounded-xl;
      outline: none;
      width: main.$sizes-sm;
    }
  }
}

