@use '@/presentation/scss/utilities/colors';

.button-primary {
  border: none;
  display: inline-block;
  padding: .75rem 1.25rem;
  border-radius: 10rem;
  color: colors.$white;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: colors.$primary;
    border-radius: 10rem;
    z-index: -2;
  }

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken(colors.$primary, 15%);
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
  }

  &:hover {
    color: colors.$white;
    &:before {
      width: 100%;
    }
  }
}

